*target*
*.jar
*.war
*.ear
*.class
*.txt



# eclipse specific git ignore
*.pydevproject
.project
.cproject
.metadata
bin/**
tmp/**
tmp/**/*
EclipseDebug/**
EclipseDebug/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch
